  @import '../../global.scss';
  .portfolioList{
   font-size:15.4px;
   margin-right:55px;
   padding:7.7px;
   border-radius:11px;
   cursor:pointer;

   @include mobile{
        margin-right:20px;

   }
   
   &.active{
    background-color:$main-color;
    color:#fff;
   }
  }