@import '../../global.scss';

.contact{
 background-color:#fff;
 display:flex;
 @include mobile{
  flex-direction: column;
 }
 
 .left{
  height:100%;
  flex:1;
  overflow:hidden;
 }
 .right{
  flex:1;
  display: flex;
  flex-direction:column;
  align-items:center;
  justify-content: space-around;

  h2{
   font-size:33px;
  }
  form{
   width:70%;
   height:70%;
   display:flex;
   flex-direction:column;
   align-items:center;
   justify-content:space-around;


   input{
    width:330px;
    height:33px;
    font-size:15.4px;
     @include mobile{
    width: 200px;
    height: 20px;
 }

   }
   textarea{
    width:330px;
    height:220px;
    font-size:15.4px;
    @include mobile{
    width: 200px;
    height: 20px;
 }

   }
   span{
    color:green;
    font-size:15.4px;
   }
   button{
    width:165px;
    height:33px;
    color:#fff;
    background-color: #C06429;
    border:none;
    border-radius:11px;
    font-weight: 500;
    outline:none;
    cursor:pointer;
   }
  }
 }
}